#!/bin/sh
#
# PROVIDE: hbsdsrv_builder
# REQUIRE: DAEMON NETWORKING
# KEYWORD: shutdown

#
# Add these lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# hbsdsrv_builder_enable (bool):    Set to NO by default.
#
# hbsdsrv_builder_flags: (string):  Custom Argv
#
# hbsdsrv_builder_config (string):  Config File
#
# hbsdsrv_builder_logfile (string): Log File

. /etc/rc.subr

name=hbsdsrv_builder
rcvar=hbsdsrv_builder_enable

command="/usr/local/bin/hbsdsrv-build"

load_rc_config $name

# /etc/rc.conf Vars
hbsdsrv_builder_enable=${hbsdsrv_builder_enable-"NO"}
hbsdsrv_builder_flags=${hbsdsrv_builder_flags:-""}
hbsdsrv_builder_config=${hbsdsrv_builder_config:-"/usr/local/hbsdsrv-build/config.yml"}
hbsdsrv_builder_logfile=${hbsdsrv_builder_logfile:-"/var/log/${name}.log"}

pidfile=${hbsdsrv_builder_pidfile-"/var/run/${name}.pid"}
logfile=${hbsdsrv_builder_logfile-"/var/log/${name}.log"}

required_files=${hbsdsrv_builder_config}


command_args="--config-file ${hbsdsrv_builder_config} --logging-file ${hbsdsrv_builder_logfile} ${hbsdsrv_builder_flags}"
run_rc_command "$1"
